<template>
  <div>
    <vue-good-table
      title="Последнее появление машин в сети"
      :columns="columns"
      :rows="rows"
      :paginate="true"
      :perPage=50
      :paginateOnTop="true"
      :lineNumbers="true"/>
    <vue-good-table
      title="Последнее появление данных на сканерах"
      :columns="columnsScanner"
      :rows="rowsScanner"
      :paginate="true"
      :perPage=50
      :paginateOnTop="true"
      :lineNumbers="true"/>
  </div>
</template>

<script>

  export default {
    mounted() {
      this.$socket.emit('lastseen', {});
      this.$socket.emit('lastseenScanner', {});
      console.log('hello')

    },
    name: 'seen',
    data() {
      return {
        columns: [
          {
            label: 'Имя машины',
            field: 'name',
            filterable: true,
          },
          {
            label: 'Номер машины',
            field: 'number',
            type: 'number',
            html: false,
            filterable: true,
          },
          {
            label: 'Последнее появление',
            field: 'lastSeen',
            html: false,
            filterable: true,
          },
          {
            label: "Последняя локация",
            field: "location_name",
            html: false,
            filterable: true
          },
          {
            label: 'Комментарий',
            field: 'comment',
            html: false,
            filterable: true,
          },
        ],
        rows: [],
        rowsScanner: [],
        columnsScanner: [
          {
            label: "Локация",
            field: 'name',
            html: false,
            filterable: true
          },
          {
            label: "Последнее появление",
            field: 'lastSeen',
            html: false,
            filterable: true
          }

          ]
      }
    },
    sockets:
      {
        lastseenScanners: function (dataset) {
          console.log('lastseenScanners');
          this.rowsScanner = [];
          for (let i in dataset) {
            let lastSeen = this.$moment(dataset[i].lastSeen).add(7, 'h');
            dataset[i].lastSeen = lastSeen
            //            .tz('Asia/Krasnoyarsk')
              .format('YYYY-MM-DD HH:mm:ss');
            this.rowsScanner.push(dataset[i])
          }
        },
        lastseen: function (dataset) {
          console.log(dataset)
          this.rows = [];
          for (let i in dataset) {
            let lastSeen = this.$moment(dataset[i].lastSeen).add(7, 'h');
            dataset[i].lastSeen = lastSeen
            //            .tz('Asia/Krasnoyarsk')
              .format('YYYY-MM-DD HH:mm:ss');
            this.rows.push(dataset[i])
          }
//          this.rows = dataset;


        }
      }
  }
</script>
